PrimaryPushButton {
    background-color: #15803d;
    border: 1px solid #21835b;
    color: #f5f7fa;
}

PrimaryPushButton:hover {
    background-color: #2aa676;
    border: 1px solid #28a572;
    color: #f5f7fa;
}

PrimaryPushButton:pressed {
    background-color: #239064;
    border: 1px solid #1f7d57;
    color: #f5f7fa;
}
